a{
    /* убераем подчеркивания у всех ссылок */
    text-decoration: none;
    /* будет брать цвет который указан у родителя ссылки */
    color: inherit;
}

ul{
    /* для всех ul убираем марджины и паддинг и уберем точки(маркир список*/
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    /* line-height: 130%; или 18px */
    line-height: 18px;
    font-weight: 400;
    color: #0a0a0a;
}
.header{
    background-color: #0A0A0A;
    padding: 33px 0 32px;
    /* даем родителю цвет и от него он будет наследоваться в а в ссылки */
    color: #717171;
    font-size: 24px;
    line-height: 29px;
}

.container{
    max-width: 1200px;
    /* поставил container по центру */
    margin: 0 auto;
    /*  при уменьшении устройства что бы не прилипал контент к краями */
    padding: 0 15px;
}

.nav{
    /* делаем nav флексовым элементы станут друг за другом*/
    display: flex;
    /* распределяем элементы nav по вертикали */
    justify-content: space-between;
    /* распределяем элементы nav по горизонтали */
    align-items: center;
}

.menu{
    display: flex;
    /* убираем 30пх отсупы значка эпл 2 способ */
    flex-grow: 1;
    flex-basis: 0;

}
.phone{
    /* убираем 30пх отсупы значка эпл 2 способ */
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
    font-size: 24px;
    line-height: 29px;
}
.menu-item:not(:last-child){
    /* здесь еще нужно убрать падинг и крайней правой ссылки! :not(:last-child)*/
    padding-right: 30px;
}

/* .menu-link,
.phone{
    /* берем из фигмы фонт сайз и высоту */
    /* font-size: 24px;
    line-height: 29px; */
    /* тк все значения в хедере одинаковые и наследуются от него то вырежем
    их отсюда и зададим их хедеру тк он родитель*/
/* } */ 
.headline{
    background-color: #F5F5F7;
    text-align: center;
    padding: 70px 0 40px;
}
.title{
    text-transform: uppercase;
    margin: 0 0 40px;
    color: #490E84;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}
.headline-img{
    margin-bottom: 25px;
}
.headline-btn{
    display:inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #490E84;
    padding: 22px 117px 19px;
    border-radius: 30px;
}

.new{
    padding: 90px 0 150px;
}

.new-title,
.color-title{
    margin: 0 0 50px;
    text-transform: uppercase;
    text-align: center;
    color: #717171;
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
}

.new-info{
    display: flex;
    align-items: center;
}

.new-text p{
    max-width: 560px;
    margin: 0 0 30px;
}

.new-text b{
    max-width: 560px;
    font-size: 20px;
    line-height: 26px;
    display: block;
}
.images-new{
    justify-content: end;
}

.images-new{
    margin-left: 190px;
}

.color{
    padding-bottom: 150px;
}

.color-list{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.color-item img{
    margin-bottom: 20px;
}

.color-item h3{
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 10px;
}

.color-item p{
    margin: 0;
}

.contacts-inner{
    display: flex;
    background-color: #574B63;
    color: #fff;
}

.contacts-form{
    width: 100%;
    /* было padding: 140px 100px; уменьшили до 93 из за тогго что не влазил шрифт в 1 строку (ипольз и кириллицы и латинницы 1 мы подкл ток кириллицу*/
    padding: 140px 93px;
    text-align: center;
}

.contacts-title{
    margin: 0 0 60px;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 39px;
    text-align: left;
}

.contacts-input{
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #574B63;
}

.contacts-input::placeholder{
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    opacity: .5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.contacts-form p{
    opacity: .5;
    text-align: center;
    margin: 30px 0;
}

.contacts-form button{
    border: none;
    text-transform: uppercase;
    color: #490E84;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 16px 81px;
    font-weight: 700;
    cursor: pointer;
}

.footer{
    background-color: #0A0A0A;
}

.footer-link{
    flex-grow: 1;
    flex-basis: 0;
}

.footer-inner{
    color: #717171;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}